.projectproperty {
    width: 400px;
}
.property_container {
    border: solid gray 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}
.property_item {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.property_item p {
    width: 100%;
    text-align: left;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 600;
}
.property_item input {
    width: 360px;
    height: 32px;
    background:none;
    padding: 0px 10px;
    border: solid 1px gray;
    border-radius: 5px;
    color: white;
}
.property_dimension {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.property_dimension input{
    width: 42%;
    color: white;
}
.export_button {
    width: 380px;
    background: none;
    border: solid gray 1px;
    height: 32px;
    margin-top: 15px;
}
.layer_container {
    position: relative;
}
.setting_button {
    position: absolute;
    right: 10px;
    top: 20px;
    border: none;
    width: 160px;
    height: 28px;
    font-weight: 800;
    background: rgb(61, 61, 61);
}
.rarity_settings {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}
.rarity_modal {
    width: 600px;
    height: fit-content;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: rgb(22, 30, 77);
}
.range_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.range_area input{
    width: 40px;
    height: 16px;
    background: none;
    border: none;
    color: white;
}
.range_area_input {
    display: flex;
    align-items: center;
    background-color: rgb(4, 4, 41);
    padding: 5px;
}
.range_area p{
    font-size: 12px;
    margin: 0px;
}
.range_area_picker {
    display: flex;
    width: 500px;
}
.range_area_picker p {
    margin-right: 10px;
}
.parant_range {
    border-bottom: solid 2px black;
    padding: 20px 0px;
}