/* Single Layer */
.layer_single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px 10px;
    background-color: rgb(64, 68, 67);
    border: 1px solid rgb(64, 68, 67);
    border-radius: 5px;
}
.layer_single:hover {
    cursor: pointer;
    border: 1px solid blue;
}
.layer_title {
    color: wheat;
    font-size: 18px;
    font-weight: 700;
}
.layer_values {
    display: flex;
    color: white;
    font-size: 12px;
}
.layer_values p{
    border: 0.5px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}

/* New Layer */
.new_layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px 10px;
    background-color: rgb(64, 68, 67);
    border: 1px solid rgb(64, 68, 67);
    border-radius: 5px;
}
.new_layer_input {
    height: 20px;
    background-color: #282c34;
    color: white;
    padding: 3px 10px;
    margin-right: 5px;
}
.new_layer_add {
    display: flex;
    font-size: 18px;
    border: 0.5px solid white;
    border-radius: 50%;
    margin: 5px;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
}
.new_layer_add:hover {
    cursor: pointer;
}
/* Button Group */
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    background-color: pink;
    color: gray;
}